th {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 10rem;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

td,
th {
  padding: 8px;
}

.material-icons {
  color: #aaa;
  font-size: 1rem;
  padding: 0 0.5rem;
  cursor: pointer;
}